* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;



}

.nombre {

    margin: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
}

/*HEADER*/

.page_header {
    height: 100px;
    background: #00000098;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Color texto header*/

.menu a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.main_nav__item {
    display: inline-block;
}

.main_nav__item::after {
    color: white;
    content: " | ";
}

.mostrar_menu,
.esconder_menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar_menu {
    order: 1;
}

.menu a:hover,
.mostrar_menu,
.esconder_menu {
    background-color: #00000000;

}

#menu_hamburguesa {

    display: none;
}


body {

    background-image: url("../imgs/fondoEspacio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: scroll;
}

footer {
    border: 0mm;
    margin-right: 0%;
    width: 30%;
    justify-content: left;
    color: white;
    text-align: right;
}

/*Sobre mi*/

.perfil {
    padding: 0px;
    margin: 10px;
    margin-left: 50px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    float: left;
    width: 30%;
    height: 30%;

}



.descripcion {
    color: white;
    margin: 50px;

    font-size: 20px;
}






.alien_interactivo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.alien {
    grid-area: 4 / 2 / 5 / 3;
    transition: 1.4s;
}

.planeta1 {
    grid-area: 2 / 5 / 3 / 6;
}

.planeta2 {
    grid-area: 4 / 5 / 5 / 6;
}

.planeta3 {
    grid-area: 6 / 5 / 7 / 6;
}


/*Portafolio*/


#categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 1 / 2 / 2 / 3;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.foto_centrada {
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    float: left;
    width: 80%;

}

.ilustracion {
    padding: 10px;
    margin: 20px;
    /* justify-content: center;
    width:50;*/
    /*:D*/
}

.fotoText {
    color: #ffffff;
    display: flex;
    /*float: left;*/
    padding: 10px;
    margin: 20px;
    width: 80%;
    text-align: center;
    

}



/*RESPONSIVE*/
/*Tablet*/
@media(max-width: 768px) {

    /*HEADER*/
    .mostrar_menu,
    .esconder_menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 20%;
        height: 36vh;
        background: #000000bf;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        padding-bottom: 0px;
        z-index: 50;
        transition: 0.4s;
        border: #0008A1;
        border-bottom-left-radius: 5px;
    }

    .main_nav__item {
        display: block;
        padding: 20px;
    }

    .main_nav__item::after {
        color: white;
        content: " ";
    }

    .menu a:hover,
    .mostrar_menu,
    .esconder_menu {
        color: #0008A1;
    }

    .esconder_menu {
        position: absolute;
        /*Posicion alien que cierra el menu hamburguesa*/
        top: 35px;
        right: 50px;
    }

    #menu_hamburguesa:checked~.menu {
        right: 0;

    }

    #categorias {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*RESPONSIVE*/
/*Celuco*/
@media(max-width: 414px) {

    /*HEADER*/
    .mostrar_menu,
    .esconder_menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 40%;
        height: 350px;
        background: #000000bf;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        padding-bottom: 0px;
        z-index: 50;
        transition: 0.4s;
        border: #0008A1;
        border-bottom-left-radius: 5px;
    }

    .main_nav__item {
        display: block;
        padding: 20px;
    }

    .main_nav__item::after {
        color: white;
        content: " ";
    }

    .menu a:hover,
    .mostrar_menu,
    .esconder_menu {
        color: #0008A1;
    }

    .esconder_menu {
        position: absolute;
        /*Posicion alien que cierra el menu hamburguesa*/
        top: 35px;
        right: 50px;
    }

    #menu_hamburguesa:checked~.menu {
        right: 0;

    }

    #categorias {
        grid-template-columns: repeat(1, 1fr);
    }

    .alien_interactivo{
        margin: 30px;
        grid-row-gap: 40%;
    }

    .alien {
        grid-area: 1 / 3 / 2 / 4;

    }

    .planeta1 {
        grid-area: 6 / 1 / 4 / 2;

    }

    .planeta2 {
        grid-area: 6 / 3 / 4 / 4;

    }

    .planeta3 {
        grid-area: 6 / 5 / 4 / 6;

    }

    #planeta {
        width: 250%;
    }   
}



/* unvisited link */
a:link {
    color: rgb(255, 255, 255);

}

/* visited link */
a:visited {
    color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
    color: rgb(126, 255, 249);
}

/* selected link */
a:active {
    color: rgb(75, 61, 126);
}



.alien:hover{
    grid-area: 4 / 5 / 5 / 6;
    transition: 1.4s;
}







/*PRUEBA PABLOOO solo lo quite para ver mejor*/
/* #naveH{
} */
/* .main_nav{
    margin-top: 0px;
    list-style: none;
    padding-left: 0;
} */

/* .main_nav__item{
    display: inline-block;
} */

/* .main_nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
} */

/* .main_nav__item a:hover{
    color: rgb(209, 93, 255);
} */

/* .main_nav__item:active{
    color: black;
} */

/* .main_nav__item::after{
    color: white;
    content: " | ";
} */
/* body{
    width: 360px;
    height: 500px;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='247' height='247' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='2.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
} */
/* .descripcion{
    width: 300px;
    background: pink;
    margin:0 auto;
} */
/*PRUEBA PABLOOO solo lo quite para ver mejor*/









































/*Celular*/

/* @media screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-radio: 1){ */

/*Estilos*/

/*     body{
             */
/* background-image: url(../imgs/fondoCelular.png); */
/*             background: aqua;
            background-repeat: no-repeat;
            width: 480px;
            height: 3000px;
            margin: 0;
        }

        .controles_menu{
            
        }

        .logo{}

         */



/* #menu_hamburguesa{
            margin-top: 0px;
            list-style: none;
            padding-left: 0;
        } */





/*AUN NO TRABAJARE CON ELLOS*/

/* } */
/*Tablet*/
/* @media screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-radio: 1){

        body{
            background-image: url(../imgs/fondoTablet.png);
            background: red;
            background-repeat: no-repeat;
            width: 480px;
            height: 3000px;
            margin: 0;
        }


    } */

/*Escritorio*/
/* @media screen
    and (min-device-width: 1024px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-radio: 1){

        body{
            background: black;
        }
    } */

/* @media (min-width: 479px) {
    body{
        background: red;
    }
}


@media (min-width: 55px) {
    body{
        background: rgb(0, 0, 0);
    }
}
@media (min-width: 768px) {
    body{
        background: rgb(0, 47, 255);
    }
}



@media (min-width: 1024px) {
    body{
        background: pink;
    }
}

@media (min-width: 1500px) {
    body{
        background: rgb(0, 255, 42);
    }
} */